[submodule "themes/hugo-resume"]
	path = themes/hugo-resume
	url = https://github.com/eddiewebb/hugo-resume
[submodule "themes/toha"]
	path = themes/toha
	url = https://github.com/hossainemruz/toha.git
